API_BASE_URL=https://api-desa.icargo.com.py
ENV=development
DATABASE_INITIALIZE_WITHOUT_SEEDS=false
DATABASE_URL=db
DATABASE_USER=icargo
DATABASE_PASS=icargo
DATABASE_NAME=icargo
DATABASE_TYPE=postgresql
DECIMAL_PRECISION=2
INSTALL_DEV=true
SECRET_KEY=secret_key
BACKEND_CORS_ORIGINS=["http://0.0.0.0:8000", "http://localhost:8000", "http://0.0.0.0:4200", "http://localhost:4200", "http://desa.icargo.com.py", "http://api-desa.icargo.com.py", "http://51.158.123.85:8100", "http://51.158.123.85:8101"]
USER_ADMIN_PASS=user-admin
GUNICORN_CMD_ARGS=--forwarded-allow-ips='*'
PICTSHARE_DOCKER=http://pictshare/api
PICTSHARE_API=https://pictshare-desa.icargo.com.py/api
PICTSHARE_UPLOAD=upload.php
BACKEND_PORT=8101
DATABASE_PORT=8102
PICTSHARE_PORT=8103
