ENV=development
DATABASE_URL=db
DATABASE_USER=icargo
DATABASE_PASS=icargo
DATABASE_NAME=icargo
DATABASE_TYPE=postgresql
INSTALL_DEV=true
SECRET_KEY=secret_key
BACKEND_CORS_ORIGINS=["http://0.0.0.0:8000", "http://localhost:8000", "http://0.0.0.0:4200", "http://localhost:4200", "http://desa.icargo.com.py", "http://api-desa.icargo.com.py", "http://51.158.123.85:8100", "http://51.158.123.85:8101"]
